body{background-color: blue;}
.ls{width: 90%;margin: 20px 65px 0px 65px;
    background-color: white;
     }
    .navs{padding: ;}
    img{width: 100%;}
    .lv{background-color: orange;float:right; }
    li{color: black;}